body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
    display:grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#headerContainer{
    grid-area: header;
    background-color: black;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'VT323', monospace;;
    font-size: 30px;
    border-bottom: 2px solid rgb(4, 2, 2);

}

.header{
    color: rgba(208, 194, 184, 0.451);
    text-align: center;
    margin-top: 20px;
    font-family: 'VT323', monospace;
    font-size: 100px;
    border-bottom: 2px solid rgb(224, 59, 59);
    margin-bottom: 15px;
}

.logo {
    height: 70px; 
}

#image {
    width: 100%;
}

#image img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    image-rendering: pixelated;
}

#headerContainer a {
    color: rgb(231, 215, 204);
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
}

#headerContainer a:hover {
  border-bottom: 2px solid rgb(224, 59, 59);
  color: rgb(224, 59, 59);
}

.row {
    width: 100%;
    margin-top: 100px;
}

.row1{
    border-bottom: 2px solid rgb(224, 59, 59);
}

.text1 {
    color: white;
    text-align: left;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 20px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.text2 {
    color: white;
    text-align: left;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}



#backButton {
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(224, 59, 59);
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px; 
    cursor: pointer; 
    margin-top: 20px;
    transition: all 0.3s ease;
}

#backButton:hover {
    background-color: rgb(180, 40, 40);
    transform: scale(1.05);
}

.inicio{
    color: white;
    text-align: right;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 180px;
    margin-bottom: 15px;
    background-image: url("https://i.pinimg.com/736x/e0/b1/46/e0b146a29d0dfc36afb9184b288882f9.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
